/*----------------
Base
----------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Palanquin+Dark');

body {
  background-image: url('../img/dave.jpg');
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
}

h1, {
  color: white;
  font-family: 'Dosis';
}

h2, h3 {
  color: black;
  font-family: 'Dosis';
}

p {
  color: lightblue;
  font-family: 'Dosis';
}

main {
  background-color: white;
  text-align: center;
  margin: 10%;
  padding: 5%;
}

/*----------------
Layout
----------------*/
button {
  color: white;
  background-color: lightblue;
}

/*----------------
Modules
----------------*/