.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*----------------
Base
----------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Palanquin+Dark');

 body {
  background-image: url('../img/dave.jpg');
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
} 

/* TODO: This does nothing. Fix. */
header img {
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, {
  color: white;
  font-family: 'Dosis';
}

h2, h3 {
  color: black;
  font-family: 'Dosis';
}

p {
  color: lightblue;
  font-family: 'Dosis';
}

main {
  background-color: white;
  text-align: center;
  margin: 10%;
  padding: 5%;
}

/*----------------
Layout
----------------*/
button {
  color: white;
  background-color: lightblue;
}

/*----------------
Modules
----------------*/
